
.home {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/1046493/pexels-photo-1046493.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}

.hTitle {
    font-size: 30px;
    align-items: center;
    margin: 25px 80px;
    justify-content: center;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.hForm {
    margin-top: 10px;
    display: flex;
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
    border: 2px solid gray;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
}

.hForm > label {
    margin: 20px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hinput {
    padding: 10px;
    border: none;
    font-size: 15px;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    margin: 25px 80px;
    padding: 5px;
    font-size: 15px;
    background-color:orangered;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hbutton:hover {
    background-color: olivedrab;
}

